*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./gorgeous-clouds-background-with-blue-sky-design_1017-25501.avif');
  height: 100vh;
  font-family: 'Arial', sans-serif;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  image-resolution:1080px;
}

input {
  padding: 30px; 
  font-size: 23px; 
  border: 1px solid #ddd;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.city {
  text-align: center;
  background-color: #eff7ff;
  padding: 100px; 
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.city-title {
  font-size: 28px; 
  margin-bottom: 10px;
  color: #333;
}

.city-temp {
  font-size: 48px; 
  font-weight: bold;
  color: #ff6347;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
 
}

.city-icon {
  margin-right: 15px;
  width: 60px; 
  height: 60px; 
}

p {
  font-size: 18px; 
  color: #555;
  margin: 0;
}
@media only screen and (max-width: 600px) {
 .input{
  padding: 15px;
    font-size: 15px;
    margin-left: -112px;
    border: 1px solid #ddd;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
 }
 .city{
 padding: 69px;
 border-radius: 50px;
 margin-left: 10px;
 }
}
